.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast canvas {
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 24px;
}
